#backend

backend/venv
backend/__pycache__

backend/configuration/__pycache__
backend/configuration/config.py

backend/DATA-DIR
backend/models/__pycache__

backend/views/__pycache__
backend/.gcloudignore

#frontend
frontend/app/node_modules
frontend/app/build
frontend/app/.gcloudignore
frontend/app/README.md 
.vscode