{% include "base.html" %}

{% block head %}
<title>
    Profile
</title>
{% endblock head %}

{% block body %}
<div style="top: 50px; left: 10px; position: absolute;">
    <h1>Hello <span style="color: blue;">{{ user_name }}</span></h1>
    <div style="display: block;border: 1px solid black;height: 130px;width: 66%;padding: 10px 12px 9px 16px;">
        <h3>
            To delete all the user-data (profile, Notes) click the below button.
        </h3>
        <form action="{{ url_for('profile') }}" method="POST">
            <input type="submit" style="height: 35px;" class="primary-btn" value="DELETE ALL"/>
        </form>     
        <button class="danger-btn" style="color: white;position: absolute;top: 183px;left: 140px;" onclick="window.location.href = '/app'">Cancel</button>   
    </div>
</div>
{% endblock body %}